<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>

    <style>

        .container{
            display:grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .year{
            border:2px solid tomato;
            padding:10px;
            border-radius:10px;
        }
        .year img{
            width: 100%;
        }

        

        @media screen and (max-width:576px) {

            .container{
                grid-template-columns: repeat(1, 1fr);
            }
            
        }

        @media screen and (max-width:992px) and (min-width:577px) {
            .container{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2001</h2>
            <p>FRom Nowwhere</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere facilis ipsa voluptates voluptatibus error cupiditate itaque repellendus quaerat dicta quisquam.</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2002</h2>
            <p>FRom Nowwhere</p>
            <p>Laudantium porro alias qui consectetur a necessitatibus asperiores impedit? Maxime quibusdam sed voluptate doloremque cum, assumenda deleniti? Incidunt, libero facilis.</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2003</h2>
            <p>FRom Nowwhere</p>
            <p>Quasi velit illum adipisci, ipsa eaque itaque est animi fuga et sint illo quidem iste eius fugit? Maxime, cupiditate eius!</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2004</h2>
            <p>FRom Nowwhere</p>
            <p>Illum enim, deserunt esse hic magnam reiciendis, earum magni eius laborum eligendi totam fuga nesciunt iusto quas inventore nisi est.</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2005</h2>
            <p>FRom Nowwhere</p>
            <p>Sit modi voluptatem sequi ut dicta, dolores, iusto reiciendis tempore, veritatis commodi velit! Aspernatur, quaerat? Aliquam repudiandae inventore modi iure.</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2006</h2>
            <p>FRom Nowwhere</p>
            <p>Quia non cum odit vel aspernatur delectus rerum ex aliquam tempore, quaerat reiciendis earum, rem soluta deleniti doloribus dicta fugit.</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2007</h2>
            <p>FRom Nowwhere</p>
            <p>Veniam est eum sequi facere soluta, at id commodi aut natus ad perferendis tempore dignissimos veritatis a nisi rerum atque!</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2008</h2>
            <p>FRom Nowwhere</p>
            <p>Iure laudantium vero nam dicta hic iste, accusamus veniam distinctio tempore ut eius esse adipisci tempora suscipit. Corporis, quas voluptatum.</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2009</h2>
            <p>FRom Nowwhere</p>
            <p>Sapiente delectus quidem labore quis nisi, voluptas sint vero aut optio maiores. Doloribus dolore dolores sint molestias placeat repellendus est.</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2010</h2>
            <p>FRom Nowwhere</p>
            <p>Quis sed provident a! Dicta corporis distinctio repudiandae doloribus sunt. Ipsa, itaque! In omnis soluta doloribus fugiat voluptates earum porro?</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2011</h2>
            <p>FRom Nowwhere</p>
            <p>Rem, unde! Eum eos dolor aliquam cumque repellat porro quo accusamus, impedit praesentium cupiditate distinctio laborum vel voluptatibus quos molestias!</p>
            <button>Visit Now</button>
        </div>
        <div class="year">
            <img src="asset/New Year Photo.png" alt="">
            <h2>Year 2012</h2>
            <p>FRom Nowwhere</p>
            <p>Dolorem deleniti quaerat, illo nostrum aliquid suscipit! Sunt recusandae accusantium aspernatur. Officia similique assumenda ducimus dolores ullam voluptate dicta cumque.</p>
            <button>Visit Now</button>
        </div>
    </div>
</body>
</html>